* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background: #0f2f59;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .calculator{
    box-shadow: 10px 10px rgba(0,0,0,0.5);
    border: 5px solid black;
    background: gray;
    height: 289px;
    width: 245px;
    border-radius: 2%;
  }
  .display{
    height: 50px;
    width: 100%;
    max-width: 100%;
    background: black;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .display-text{
    padding-right: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 2rem;
  }


  .number-container{
    display: flex;
  }

  .number, .decimal, .operator,.equal, .clear{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 49px;
    width: 49px;
    border: 2px solid black;
    margin: 4px;
    background: blueviolet;
    border-radius: 10%;
    cursor: pointer;
  }

  .equal, .zero, .AC{
    width: 108px;
  }